---
---
@import "theme";
.container { 
    margin: 0 150px; 
    max-width: 1620px; 
}
.texture-black { background-image: url("/assets/textures/black.jpg"); }

.texture-black h2 { color: #999; }

.texture-blue { background-image: url("/assets/textures/blue.jpg"); }

.texture-blue h2 { color: #ddd; }

.texture-blue .social i:hover { color: #eee; }

.texture-blue .post-date { color: #ccc; }

.texture-red { background-image: url("/assets/textures/red.jpg"); }

.texture-purple { background-image: url("/assets/textures/purple.jpg"); }

.texture-green { background-image: url("/assets/textures/green.jpg"); }

.texture-green .post-date { color: #ccc; }

.texture-red h2, .texture-purple h2 { color: #ccc; }

.texture-red .social i, .texture-purple .social i { color: #ddd; }

.texture-red .social i:hover, .texture-purple .social i:hover { color: #efefef; }

.texture-red .post-date, .texture-purple .post-date { color: #ddd; }